* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

#root {
    padding: 10px;
    position: relative;
    background: #303195;

}

.modal-set-name-input {
    display: block;
    margin: auto;
    width: 100%;

}

.modal {
    color: rgb(43 42 42);
    background: white;
    z-index: 1;
    position: absolute;
    width: 100%;

}

.modal-close {
    font-weight: bold;
    color: #922632;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;

}

.modal-header {
    padding: 5px;
    border-bottom: 1px solid silver;

}

.modal-text {
    padding: 5px;
    font-size: 14px;
}

.modal-confirm-panel {
    display: flex;
    justify-content: center;
    border-top: 1px solid silver;
    padding: 5px;

}

.modal-confirm-panel-timer {
    color: #973232;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-confirm-panel-button-box {
    display: flex;

}

.modal-confirm-panel-consent-button {
    margin: 5px;
    background: #6be9aa;
    padding: 5px;
    cursor: pointer;

}

.modal-confirm-panel-cancel-button {
    margin: 5px;
    background: #cc9ba0;
    padding: 5px;
    cursor: pointer;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000b5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

}

.control-panel {
    color: #101010;
    background: #a9a9fc;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid #6be9aa;

}

.create-root {
    color: #101010;
    background: #a9a9fc;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid #6be9aa;
    padding: 5px;

}

.tree {
    margin: 0 15px 0 15px;
    border-left: 1px solid #6be9aa;

}

.control-panel div {
    margin: 3px;
    padding: 4px;

}

.node-name {
    background: #303195;
    color: white;

}
