<!DOCTYPE>
<html lang="en">
<head>
    <title>!DOCTYPE</title>
    <link rel="stylesheet" type="text/css" href="css/NodeTree.css">
</head>

<body>
<div class="content">
    <div id="root">

    </div>
</div>

<script src="js/NodeTree.js"></script>
<script src="js/NodeRepository.js"></script>
<script src="js/NodeTreeViewer.js"></script>
<script src="js/NodeTreeModalViewer.js"></script>

<script>
    let nodeRepository = new NodeRepository();
    let nodeTreeViewer = new NodeTreeViewer(document.getElementById('root'));

    new NodeTree(
        nodeRepository,
        nodeTreeViewer
    );

</script>
</body>
</html>